{{#if release}}{{#if ghpages}}{{{ frontmatter ghpages }}}{{/if}}{{/if}}

<!DOCTYPE html>
<!-- {{banner}} -->

<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=11">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">

  <link type="text/css" rel="stylesheet" href="{{assets}}/cs-homepage{{#if release}}.min.css{{^}}.css{{/if}}">

  <!--[if lt IE 9]>
  <script type="text/javascript" src="
    {{~#if release~}}
      {{assets}}/vendor/html5shiv.min.js
    {{~^~}}
      ../bower_components/html5shiv/dist/html5shiv.js
    {{~/if}}"></script>
  <![endif]-->

  <title>
    {{~#unless release}}[dev] {{/unless~}}
    William Bain
    {{~#if title}} - {{title}}{{/if~}}
  </title>
</head>
{{#prettify}}
<body>
  <div class="container">
    {{> navbar}}
    <section class="content">
      {{> body}}
    </section>
  </div>
{{/prettify}}

  <script type="text/javascript" src="
    {{~#if release~}}
      //code.jquery.com/jquery-1.11.0.min.js
    {{~^~}}
      ../bower_components/jquery/dist/jquery.js
    {{~/if~}}
  "></script>
  <script type="text/javascript" src="{{assets}}/cs-homepage{{#if release}}.min.js{{^}}.js{{/if}}"></script>
  <script type="text/javascript">
    /* jshint asi: true, expr: true */
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    /* *hopefully* this will let it play nice with other cookies */
    ga('create', 'UA-51279886-1', {
        cookieName: '_ga51279886',
        cookieDomain: 'cs.mcgill.ca',
        cookiePath: '/~wbain'
    });
    ga('send', 'pageview');

    /* Track nav clicks */
    (function trackNavClicks($) {
        $('nav a').on('click', function () {
            ga('send', 'event', {
                eventCategory: 'nav href',
                eventAction: 'click',
                eventLabel: $(this).attr('href') || '(null)'
            });
        });
    })(jQuery);
  </script>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Ubuntu:500|Raleway:400,700">
  <script type="text/javascript" src="
    {{~#if release~}}
      {{assets}}/vendor/fancybox/jquery.fancybox.pack.js
    {{~^~}}
      ../bower_components/fancybox/source/jquery.fancybox.js
    {{~/if}}"></script>
  <link rel="stylesheet" type="text/css" href="
    {{~#if release~}}
      {{assets}}/vendor/fancybox/
    {{~^~}}
      ../bower_components/fancybox/source/
    {{~/if}}jquery.fancybox.css" media="screen">
  <script type="text/javascript">
    $(document).ready(function() {
      $('.fancybox').fancybox();
    });
  </script>
</body>
</html>
